{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="posts-list">
    <h1>All Posts</h1>
    {{ range .Pages }}
      <article>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="post-date-tag">
          <h4>{{ (time .Params.date).Format "January 2, 2006" }}</h4>
          <p>{{index .Params.tags 0}}</p>
        </div>
        {{ $text := htmlUnescape .Plain }}
        <p>{{ $text | truncate 200 "..." }}</p>
      </article>
    {{ end }}
  </section>
     <link rel="stylesheet" href="{{ "css/posts.css" | relURL }}">
     <link rel="stylesheet" href="{{ "css/header.css" | relURL }}">
  {{ partial "footer.html" . }}
{{ end }}
