{{ if .Params.images }}
<section id="gallery-post" class="wrapper style2">
  <div class="inner">
    <div class="post-title">{{ .Title }}<span class="issue-span"> -   Issue {{ .Params.issue }}</span></div>
    <h3>{{ (time .Params.date).Format "January 2, 2006" }}</h3>
  </div>
   <div class="gallery style2 medium lightbox onscroll-fade-in">
      {{ range .Params.images }}
        <article>
            <a href="{{ .image | relURL }}" class="image"><img src="{{ .image | relURL }}"></img></a>
              <div class="caption"><p>{{ .caption }}</p></div>
        </article>
      {{ end }}
    </div>
    <div>
{{ .Params.content }}
    </div>
  </div>
</section>
<div class="gallery-post-content">
{{ .Content }}
</div>
    {{ end }}
     <script src="{{ "js/gallery-handling.js" | relURL }}"></script>
