<!-- Spotlight -->
{{ $spot := . }}
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
<a href="{{ .link }}">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
</a>
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with $spot.excerpt }}
            {{ $len := . }}
            {{ with $spot.button }}{{ with site.GetPage .link }}
                <p>{{ .Plain | truncate $len }}</p>
            {{ end }}{{ end }}
        {{ end }}
    </div>
    {{ with .image }}
    <div class="image">
        <img src="{{ . }}" alt="" />
    </div>{{ end }}
</section>
