{{ define "main" }}
    {{ partial "header.html" . }}
    {{ partial "banner" site.Data.banner }}
    <div class="spacer"> Recent: </div>
	<!-- {{ partial "spotlight" site.Data.spotlight1 }} -->
	<!-- {{ partial "spotlight" site.Data.spotlight2 }} -->
	{{ partial "spotlight" site.Data.spotlight3 }}
	<!-- {{ partial "spotlight" site.Data.spotlight4 }} -->
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "footer" . }}
     <link rel="stylesheet" href="{{ "css/posts.css" | relURL }}">
     <link rel="stylesheet" href="{{ "css/header.css" | relURL }}">

{{ end }}
